body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.main-header {
  background-color: #f4f7f9;
}

.top-container {
  background-color: #293449;
}

.top-container .container {
  display: flex;
}

.container {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: white;
}

.logo {
  padding: 11px 56px 7px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 rgba(181, 41, 51, 1);
}

.site-search {
  padding-top: 12px;
  padding-left: 47px;
  padding-bottom: 12px;

  width: 269px;
  height: 42px;

  font-size: 17px;
  line-height: 18px;
  color: black;

  background: #293449;
  border: none;
}

.site-search::-moz-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
  opacity: 1;
}

.site-search::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

.site-search:-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

.site-search::-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

/*.site-search::placeholder {*/
  /*font-family: "Cuprum", Arial, sans-serif;*/
  /*font-size: 17px;*/
  /*line-height: 18px;*/
  /*color: white;*/
  /*padding: 12px 180px 12px 47px;*/
/*}*/

.search {
  position: relative;
}

.site-search + label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;

  background: url("../img/icon-search.svg") no-repeat 0 0;
  opacity: 0.3;
}



.bookmarks,
.cart {
  position: relative;
  max-width: 150px;
  color: #ffffff;
  background-color: #293449;
}

.bookmarks {
  padding: 12px 28px 11px 44px;
}

.cart {
  padding: 12px 30px 12px 50px;
}

.inner-page .cart {
  padding: 10px 23px 10px 52px;
  background-color: #ee3643;
}

.inner-page .bookmarks {
  padding: 10px 28px 10px 44px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;

  opacity: 0.3;
}

.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;

  opacity: 0.3;
}

.order {
  padding: 12px 22px 12px 20px;
  color: #ffffff;
  background-color: #63a63e;
}

.inner-page .order {
  padding: 10px 22px 10px 20px;
}

.logo:hover {
  background-color: #ca2c37;
}

.bookmarks:hover,
.cart:hover,
.site-search:hover {
  background-color: #212a3a;
}

.site-search:hover + label::before {
  opacity: 1;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
  background-color: #212a3a;
}

.order:hover {
  background-color: #5fbb2d;
}

.logo:active {
  background-color: #ba2732;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.site-search:focus {
  padding-left: 49px;
  background-color: white;
  outline: none;
}

.site-search:focus + label::before{
  background-image: url("../img/icon-search-focus.svg");
}

.middle-container {
  display: flex;
}
h1 {
  margin: 50px 71px 39px 53px;
  padding: 0;
  width: 197px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;

  background-color: #f4f7f9
}

.contact-info {
  margin: 46px 69px 39px 0;
}

.contact-info a {
  display: block;
  position: relative;

  padding: 10px 50px 9px 71px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
  background-color: #f4f7f9;
}

.contact-info a::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;
  bottom: 13px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat 0 0;

  opacity: 0.3;
}
.contact-info address {
  margin-left: -4px;
  margin-top: 3px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  font-style: normal;

  background-color: #f4f7f9;
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation {
  padding: 46px 0 66px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-navigation a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation .login-link {
  /*max-width: 46px;*/
  margin-right: 10px;
  padding: 12px 25px 12px 16px;
}
.login-link .log-in {
  margin-left: 5px;
}

.user-navigation .registration-link {
  max-width: 100px;
  padding: 13px 25px 11px 25px;
}
.inner-page .contact-info {
  margin-right: 51px;
}
.authorized-user-navigation{
  padding: 46px 0 30px 0;
  display: flex;
  flex-direction: column;
}

.authorized-user-navigation .profile {
  display: flex;
  max-width: 299px;
  color: #000000;

  background-color: #ffffff;
}
.authorized-user {
  padding: 11px 37px 10px 14px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}
.user-name {
  padding-left: 6px;
}
.log-out {
  width: 20px;
  padding: 14px 10px 14px 0;
  background-color: #ffffff;
}

.authorized-user-menu {
  margin: 4px 72px 0 16px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.authorized-user-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  background-color: #f4f7f9;
}
.my-orders{
  position: relative;
}
.my-orders::after {
  content: "";
  position: absolute;

  top: 7px;
  left: 90px;

  border: 2px solid black;
  border-radius: 50%;
}

.user-navigation .login-link:hover,
.user-navigation .login-link:focus,
.user-navigation .registration-link:hover,
.user-navigation .registration-link:focus {
  color: #ee3643;
}

.user-navigation .login-link:hover path,
.user-navigation .login-link:focus path {
  fill: #32425c;
}

.authorized-user:hover path,
.authorized-user:focus path,
.log-out:hover path,
.log-out:focus path{
  fill: #32425c;
}

.my-orders:hover,
.my-orders:focus,
.your-account:hover,
.your-account:focus {
  color: #ee3643;
  text-decoration-color: #ee3643;
}

.user-navigation .login-link:active,
.user-navigation .registration-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorized-user:active path,
.log-out:active path{
  fill: #c5c5c5;
}

.my-orders:active,
.your-account:active {
  opacity: 0.3;
  color: #32425c;
  text-decoration-color: #32425c;
}

.user-name:active{
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
  /*padding: 20px 55px 22px 52px;*/
  width: 940px;
  /*height: 60px;*/

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 rgba(41, 52, 73, 1);
}

.site-navigation a {
  display: block;
  padding-top: 20px;
  padding-bottom: 23px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  vertical-align: middle;
}

.site-navigation > li:first-child a{
  padding-left: 52px;
  padding-right: 32px;
}

.site-navigation > li:nth-child(2) a{
  padding-left: 31px;
  padding-right: 31px;
}
.site-navigation > li:nth-child(3) a,
.site-navigation > li:nth-child(4) a{
  padding-left: 29px;
  padding-right: 31px;
}

.site-navigation > li:nth-child(5) a{
  padding-left: 28px;
  padding-right: 31px;
}

.site-navigation > li:nth-child(6) a{
  padding-left: 30px;
  padding-right: 31px;
}

.site-navigation > li:last-child a{
  padding-left: 31px;
  padding-right: 54px;
}

.site-navigation li:hover,
.site-navigation li:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #000000;

  background-color: #ffffff;
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  position: relative;
  padding-right: 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.384;
  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 1px;
  left: 69px;

  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs .main-page::after{
  top: 1px;
  left: 28px;
}

.breadcrumbs .breadcrumbs-tool::after {
  top: 0;
  left: 99px;
}

.breadcrumbs li:last-child {
  padding-left: 3px;
  margin-right: 0;
}

.container .page-title {
  display: block;
  padding: 30px 742px 29px 28px;
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #32425c;
  /*-webkit-font-kerning: normal;*/

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.catalog {
  width: 700px;
}

.sorting-title,
.filters-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: black;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters-title {
  margin: 0 0 12px;
  padding: 10px 149px 10px 18px;
}

.filter fieldset:first-child {
  height: 169px;

  border: none;
  padding: 0 0 26px;
  margin: 0 0 17px;
  border-bottom: 1px solid #e5e5e5;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  font-size: 9px;
  color: #444444;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.price-controls input {
  width: 75px;
  padding: 10px 7px 10px 13px;
  margin: 0;

  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-controls .min-price {
  margin-right: 30px;
}

.price-controls .min-price::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.filter fieldset:nth-child(2){
  border: none;
  padding: 0 0 2px;
  margin: 0 0 17px;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-child(3) {
  padding: 0;
  border: none;
  margin: 0 0 57px;
}

.filter legend {
  padding: 0;
  margin-bottom: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: white;
}

.manufactures,
.battery-type {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  list-style: none;

  background-color: white;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}


.battery-type .filter-option{
  margin: 0;
  padding: 0 0 21px 34px;

}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -1px

;
  left: -34px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input-checkbox:not(:disabled) + label:hover::before,
.filter-input-checkbox:not(:disabled) + label:focus::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
  background-image: url("../img/radio-on-hover.svg");
}

.filter-input-checkbox:disabled + label::before {
  color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/checkbox-off-hover.svg");
  opacity: 0.3;
}

.filter-input-checkbox:checked:disabled + label:hover::before {
  color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/checkbox-on-hover.svg");
  opacity: 0.3;
}

.filter-input-radio:checked:disabled + label:hover::before {
  color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/radio-on-hover.svg");
  opacity: 0.3;
}

.filter-input-radio:disabled + label:hover::before {
  color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/radio-off-hover.svg");
  opacity: 0.3;
}

.filter-button {
  display: inline-block;
  margin-right: 90px;
  padding: 10px 38px 8px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.sorting {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f3ec;
}

.sorting-title {
  padding: 0;
  margin: 10px 139px 10px 19px;
  max-width: 82px;
}

.sorting-list {
  margin: 0 1px 0 0;
  padding: 0;
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  list-style: none;
}

.sorting .sort {
  display: block;
  color: black;
}

.sorting-list .sort {
  padding-bottom: 1px;
  border-bottom: 1px dotted #ee3643;
  opacity: 0.3;
}

.sorting-list .current-sort {
  max-width: 52px;
  margin-right: 71px;
  color: #ee3643;
  border-bottom: none;
  opacity:1;
}

.sorting-list .type-sort {
  max-width: 53px;
  margin-right: 64px;
}

.sorting-list .function-sort {
  max-width: 113px;
  margin-right: 47px;
}

.sorting-list .sort:hover {
  color: #000;
  border-bottom:1px solid #ee3643;
  opacity: 1;
}

.sorting-list .sort:active {
  border-bottom: none;
  color: #ee3643;
  opacity: 1;
}

.order-switch {
  margin: 0;
  padding: 0;
  max-width: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
}

.ascending-order path,
.descending-order path {
  opacity: 0.3;
}

.current-order path{
  opacity: 1;
  fill: #ee3643;
}

.order-switch li:first-child {
  margin-right: 21px;
}

.order-switch li:last-child {
  margin-right: 17px;
}

.order-switch a:hover path {
  fill: #231f20;
  opacity: 1;
}

.order-switch a:active path {
  fill: #ee3643;
  opacity: 1;
}

.catalog-list,
.popular-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 52px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  padding: 0;
  position: relative;
  width: 218px;
  margin-top: 20px;
  text-align: center;

  background-color: white;
  border: 1px solid #ccc;
}

.catalog-item .flag,
.materials .flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}
.catalog-item .flag-new,
.materials .flag-new {
  background:url("../img/new flag.png") no-repeat 0 0;
}

.catalog-list li:nth-child(3n+1) > img {
  padding: 28px 53px 34px 39px;
  width:127px;
  height:112px;
}

.catalog-list > li:nth-child(3n+2) > img{
  margin: 21px 47px 0 26px;
  width: 144px;
  height: 128px;
}
.catalog-list > li:nth-child(3n+2) .title-link {
  margin-top: 25px;
}

.catalog-list > li:nth-child(3n+3) > img{
  padding: 28px 53px 34px 25px;
  width:127px;
  height:112px;
}
/*
.catalog-list .image img{
  max-width:100%;
}*/

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.catalog-item h3 {
  padding: 0;
  margin: 0;
}

.title-link{
  display: inline-block;
  padding: 1px 30px 12px 29px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.catalog-item-price,
.no-sale-item-price {
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.no-sale-item-price,
.inner-page .no-sale-item-price{
  margin-top: 27px;
}

.catalog-item-price .old-price {
  padding: 0 74px 9px 77px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.catalog-item-price .current-price,
.no-sale-item-price .current-price{
  position:relative;
  width:80px;
  margin: 0 auto 20px;
  padding:10px 28px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background:#ee3643;
  border-radius:3px;
}

.catalog-item .current-price:after,
.no-sale-item-price .current-price:after{
  content:"";
  position:absolute;
  top:0;
  right:-24px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.catalog-item .actions {
  position:absolute;
  top:0;
  left:0;
  width:218px;
  height:88px;
  padding:40px 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.catalog-item .actions .buy,
.catalog-item .actions .to-bookmarks{
  display:block;
  width:129px;
  margin: 0 auto 7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315;
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", Arial, sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;
  border-radius:3px;
}

.catalog-item .actions .to-bookmarks{
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.catalog-item .actions{
  display:none;
}
.catalog-item:hover .actions{
  display:block;
}

.actions a:first-child:hover,
.actions a:first-child:focus {
  background-color: #5fbb2d;
}

.actions a:last-child:hover,
.actions a:last-child:focus {
  border: 3px solid #32425c;
}

.actions a:first-child:active {
  background-color: #518534;
}

.actions a:last-child:active {
  border: 3px solid #c1c6ce;
}

.pagination-list {
  display: flex;
  margin: 0 0 60px;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  display: block;
  margin-right: 10px;
  padding: 9px 14px 9px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;

  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item:nth-child(1) a{
  padding: 10px 15px 10px 16px;
}

.pagination-item:last-child a {
  margin-right: 0;
  padding: 9px 31px 9px 31px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: white;

  background-color: #ee3643;
  border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: white;

  background-color: #ee3643;
  border: none;
}

.about-perforator{
  width: 100%;
  padding-top: 39px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.about-perforator h2 {
  margin: 0;
  padding: 26px 0 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 29px;
  line-height: 30px;
  color: black;

  background-color: #f2f6f8;

}

.perforator-text {
  padding-top: 26px;
}

.text-part1,
.text-part2 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;

  background-color: #f2f6f8;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-us {
  width: 519px;
  /*height: 368px;*/
}

.contacts {
  width: 300px;
  /*height: 368px;*/
}

.services-title,
.about-us-title,
.contacts-title {
  margin: 0 0 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.about-us p,
.contacts p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.about-us .company-text {
  margin-bottom: 26px;
}

.about-us .transportation {
  margin: 0;
  padding: 0;
}

.about-us ul {
  display: block;
  padding: 0;
  margin: 0 0 36px;
  margin-top: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
  list-style: none;
}

.about-us li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}

.about-us li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}


.about-us .button {
  font-size: 14px;
  display: inline-block;
  padding: 11px 40px 9px 41px;
  border-radius: 2px;
}

.product-receipt{
  margin: 0 114px 31px 0;
  padding: 0;
}

.contacts .map {
  display: block;
  margin-bottom: 41px;
  line-height: 0;
}

.contacts .letter-link {

  font-size: 14px;
  display: block;
  padding: 10px 59px 10px 64px;
  border-radius: 2px;
}

.main-footer {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(#32425c 65%, #293449 35%);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.main-footer .container:first-child {
  margin-bottom: 31px;
}

.footer-logo {
  margin-right: 173px;
  padding: 16px 41px;

  width: 220px;
  /*height: 68px;*/

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  box-shadow: 0 5px 0 rgba(181, 41, 51, 1);
}

.footer-site-navigation,
.catalog-navigation {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  margin-top: 37px;
  margin-right: 3px;
  width: 550px;
}

.footer-site-navigation a,
.main-footer address,
.catalog-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-style: normal;
}

.main-footer .container:nth-child(2) {
  margin-bottom: 53px;
}

.company-contacts {
  width: 337px;
  margin-right: 86px;
  padding-top: 2px;
  padding-left: 3px;
}


.catalog-navigation {
  width: 540px;
  padding-top: 2px;
}

.catalog-navigation a {
  color: #ffda96;
}

.company-copyright,
.feedback,
.site-copyright {
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.main-footer .container:nth-child(3) {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -4px;
}
.company-copyright {
  width: 227px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 80px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 133px;
  margin: 0 118px 0 83px;
  padding: 0;

  text-align: center;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback {
  width: 135px;
  margin-bottom: 19px;
  /*height: 40px;*/
}

.site-copyright {
  margin-right: 15px;
  margin-bottom: 19px;
  margin-left: 53px;


  width: 96px;
  /*height: 42px;*/
}

/*
.footer-social {
  display: flex;
  text-align: center;
  width: 133px;
}

.social-button {
  color: #ffffff;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}
*/
.feedback a,
.site-copyright a {
  color: #ffda96;
}

.footer-site-navigation a:hover,
.catalog-navigation a:hover,
.feedback a:hover,
.site-copyright a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
}

.catalog-navigation a:active {
  color: rgba(205, 209, 128, 0.5);
}

.feedback a:active,
.site-copyright a:active {
  color: #ee3643;
}

/* ----- Сеточные стили ----- */

.main-header {
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.top-container {
  width: 100%;
  height: 42px;
  /*margin-bottom: 46px;*/
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*

.top-container a,
.middle-container a,
.site-navigation a {
  display: block;
  color: #ffffff;
}
*/
/*
.sorting {
  width: 700px;
  display: flex;
  justify-content: flex-start;
}

.sorting h3 {
  width: 82px;
}

.sorting-list {
  width: 350px;
  display: flex;
  justify-content: flex-start;
}

.order-switch {
  width: 60px;
  display: flex;
  justify-content: flex-start;
}
*/

.promotional-unit {
  position: relative;
  max-width: 940px;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promotional-unit div {
  width: 300px;
  height: 123px;
}

.sale,
.delivery {
  position: absolute;
  left: 640px;
}

.sale {
  top: 143px;
}

.delivery{
  top: 286px;
}

.promotional-unit .block-title {
  margin: 22px 0 0 23px;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promotional-unit .promo-button {
  display: inline-block;
  margin-left: 25px;
  margin-top: 11px;
  width: 135px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0,0,0,0.2);
}

.promo-button:active {
  background-color: rgba(0,0,0,0.3);
}

.materials .flag {
  position:absolute;
  top: 0;
  right: 640px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}

.materials .flag-new {
  background:url("../img/new flag.png") no-repeat 0 0;
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 683px;

  width: 44px;
  height: 65px;

  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.tool {
  background-color: #3bbce3;
}

.tool::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 348px;

  width: 75px;
  height: 61px;

  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.equipment {
  background-color: #dc91d8;
}

.equipment::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.sale {
  background-color: #8ed78f;
}

.sale::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background: url("../img/icon-4.svg") no-repeat 0 0;
}

.delivery {
  background-color: #ffc047;
}

.delivery::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background: url("../img/icon-5.svg") no-repeat 0 0;
}

.promotional-unit .slider-wrapper {
  position: relative;
  margin-top: 20px;
  margin-right: 320px;

  min-width: 620px;
  min-height: 266px;

  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  background: url("../img/slider-drill.jpg") no-repeat;
}

.slider-item:nth-child(2) {
  background: url("../img/slider-perforator.jpg") no-repeat;
}

.slide-title {
  max-width: 210px;
  margin: 0;
  padding: 23px 0 2px 24px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.slide-text {
  max-width: 228px;
  margin: 0 0 121px;
  padding: 0 0 0 24px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item-button {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 24px;
  padding: 10px 46px 10px 50px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  border-radius: 2px;
  border: none;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;

  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 6px;
  height:6px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label[for="product-1"]::before {
  content: "";

  position: absolute;
  bottom: 74px;
  right: 256px;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
}

.slider-controls label[for="product-2"]::after {
  content: "";

  position: absolute;
  bottom: 74px;
  left: 261px;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1),
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"] {
  background-color: #ee3643;
}

.popular-products {
  max-width: 940px;
  margin-bottom: -30px;
}

.popular-products-title,
.brands-title {
  position: relative;
  color: #32425c;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular-products-link,
.brands-link {
  position: absolute;
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 2px;
}

.popular-products-link{
  top: 25px;
  left: 663px;
  padding: 10px 55px;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.popular-catalog-list .image-1 {
  width: 184px;
  height: 164px;
  padding: 6px 19px 4px 17px;
}

.popular-catalog-list .image-2 {
  width: 127px;
  height: 112px;
  padding: 28px 53px 34px 40px;
}

.popular-catalog-list .image-3{
  width: 144px;
  height: 128px;
  padding: 21px 49px 25px 26px;
}

.popular-catalog-list .image-4 {
  width: 127px;
  height: 112px;
  padding: 28px 62px 34px 31px;
}

.brands {
  max-width: 940px;
  margin-bottom: 85px;
}

.brands-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 24px;
}

.brands-link{
  top: 25px;
  left: 663px;
  padding: 10px 70px;
}


.brands-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands-list-item {
  margin-top: 20px;
}

.manufactureer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 218px;
  min-height: 143px;
  border: 1px solid rgb(234, 234, 234);
}

.brands-list-item img {
  line-height: 0;
  width: auto;
  height: auto;
}

.brands-list-item:nth-child(2) > .manufactureer-link > img,
.brands-list-item:nth-child(3) > .manufactureer-link > img {
  margin-top:  -8px;
}

.brands-list-item:nth-child(4) > .manufactureer-link > img {
  margin-top:  -17px;
}

.brands-list-item:nth-child(7) > .manufactureer-link > img {
  margin-top: -6px;
  margin-left: 1px;
}

.brands-list-item:nth-child(8) > .manufactureer-link > img {
  margin-top: -10px;
  margin-left: 4px;
}

.services {
  width: 100%;
  margin-bottom: 78px;
  background-color: #f4f8f9;
}

.services-container {
  position: relative;
  width: 940px;
  min-height: 522px;
  margin: 0 auto;
  padding: 0;
}

.services-slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-item {
  margin-left: 320px;
  display: none;
}

.services-title {
  margin: 0;
  padding: 64px 0 26px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #f5f8fa;
}

.services-text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f5f8fa;
}

.advert-text {
  margin-bottom: 67px;
  padding-left: 1px;
  width: 400px;
}

.services-slider-text {
  margin: 0 300px 0 0;
  padding: 0 0 25px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
}

.service-item:nth-child(1) {
  padding-bottom: 130px;
  background: url("../img/lorry.png") no-repeat;
  background-position: 151px 25px;
}

.service-item:nth-child(1) .delivery-text {
  margin-right: 345px;
}

.service-item:nth-child(2) {
  padding-bottom: 130px;
  background: url("../img/medal.png") no-repeat;
  background-position: 232px 25px;
}

.service-item:nth-child(2) .warranty-text {
  margin-right: 240px;
}

.service-item:nth-child(3) {
  background: url("../img/money.png") no-repeat;
  background-position: 155px 25px;
}

.service-item:nth-child(3) .credit-text {
  margin-right: 340px;
  margin-bottom: 31px;
}

.service-item:nth-child(3) .credit-button {
  display: inline-block;
  padding: 10px 45px;
  border-radius: 2px;
  margin-bottom: 103px;
}

.services-slider-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.services-slider-controls label {
  padding: 15px 140px 13px 22px;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Cuprum", Arial,sans-serif;
  font-weight: bold;
  background-color: #32425c;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(51, 68, 90, 1) ;
  border-bottom: 2px solid #4d637b;
}

.services-container::before{
  content: "";
  position: absolute;
  top: 190px;
  left: 230px;
  width: 10px;
  height: 279px;
  background:
    radial-gradient(ellipse at right, black, grey, transparent, transparent);
  opacity: 0.25;
  z-index: 40;
}

#service-1:checked ~ .services-slider .service-item:nth-child(1),
#service-2:checked ~ .services-slider .service-item:nth-child(2),
#service-3:checked ~ .services-slider .service-item:nth-child(3) {
  display: block;
}

#service-1:checked ~ .services-slider-controls label[for="service-1"],
#service-2:checked ~ .services-slider-controls label[for="service-2"],
#service-3:checked ~ .services-slider-controls label[for="service-3"] {
  padding-bottom: 18px;
  color: #32425c;
  background-color: #ffffff;
  border-bottom: none;
  box-shadow: none;
}



/* Модальные окна*/

@keyframes bounce {
  0% {
    transform: translate(-50%,-2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%,-10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-40%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-60%, -50%);
  }
}

.modal {
  position: fixed;
  display: none;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.write-us{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 460px;
  padding: 51px 80px 38px 80px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(#ff5357 1.6%, #ffffff 1.6%, #ffffff 72.3%, #f4f4f4 26.1%);

}

.modal-close {
  position: absolute;
  top: 5px;
  right: 0;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.message-form {
  display: flex;
  flex-wrap: wrap;
}

.message-form p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.message-form .name {
  margin-right: 20px;
}

.message-form label {
  margin-bottom: 12px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.name-field,
.e-mail-field,
.message-text-field {
  box-sizing: border-box;
  width: 220px;
  padding: 8px 0 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #000000;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.name-field:hover,
.e-mail-field:hover,
.message-text-field:hover {
  border: 2px solid #b5b5b5;
  border-radius: 2px;
}

.name-field:focus,
.e-mail-field:focus,
.message-text-field:focus {
  outline: none;
  border: 2px solid #ee3643;
  border-radius: 2px;
}

.message-form .text {
  margin-top: 19px;
  margin-bottom: 76px;
}
.message-text-field {
  width: 460px;
  resize:none;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
  color: #a9a9a9;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: #a9a9a9;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #a9a9a9;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder {
  color: #a9a9a9;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #a9a9a9;
}

.message-form .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 198px;
  border-radius: 2px;
}

.modal-map {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 940px;
  height: 446px;

  box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
}

.modal-cart {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  width: 460px;
  padding: 73px 80px 37px 80px;
  background-image: linear-gradient(#ff5357 2.5%, #ffffff 2.5%, #ffffff 57.8%, #f4f4f4 39.7%);
}

.modal-cart p {
  padding: 0;
  margin: 0 45px 0 99px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: black;
}

.modal-cart p::before {
  content: "";

  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background: url("../img/icon-mark.svg") no-repeat 0 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 105px;
}
.buttons-container a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 220px;
  color: #000000;
  border-radius: 2px;
  background-color: #ffffff;
}

.buttons-container .button:hover,
.buttons-container .button:focus {
  color: #ffffff;
  background-color: #ee3643;
}
